@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: Lato;
  src: url(../font/Lato-Regular.ttf) format('truetype');	 
}
@font-face {
  font-family: LatoBold;
  src: url(../font/Lato-Bold.ttf) format('truetype');	 
}
@font-face {
  font-family: LatoBolder;
  src: url(../font/Lato-Bolder.ttf) format('truetype');	 
}
@font-face {
  font-family: LatoItalic;
  src: url("../font/Lato-Italic.ttf") format('truetype');	 
}
@font-face {
  font-family: LatoBoldItalic;
  src: url("../font/Lato-BoldItalic.ttf") format('truetype');	 
}

.login-form-box {
    border-radius: 8px !important
}

.fixedLoaderWrap {
    position: fixed;
    background: rgba(255,255,255,.8);
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

html{font-size:14px}
body,h1,h2,h3,h4,h5,h6,h7,p,div,ul,li,input,button{font-family:'Lato', serif; color: #333;}
body{background: url('../img/bakery-pattern.jpg');}

strong, b,table th, h1, h2, .font-weight-bold{font-family:'LatoBold', serif;}

.hide{display: none !important}

table th{vertical-align: middle !important}


.z-index99{z-index: 99}
.z-index9999{z-index:9999}

.break-word{word-wrap: break-word;}

.oy-s{overflow-y: scroll}
.of-h{overflow: hidden}

/**background**/
.bg-blue-dark{background: #C5DAF1}
.bg-blue-light{background: #E0E8F1}

.bg-red-dark{background: #D99895}
.bg-red-light{background: #E9CFD0}

.bg-yeallow{background: #F5EF87}

.bg-green-dark{background: #C3D69A}
.bg-green-light{background: #DBE7C6}

.bg-heading{background: #F9F3EF}


/**font colors**/
.fc-green{color:#00B050}
.fc-red{color:#FF0000}

.br-12{border-radius: 12px}
.underline{text-decoration: underline}

.c-p{cursor: pointer}
.text-wrap{word-wrap: break-word;}

.white-transparent{background: rgba(255,255,255,.5);}

.redLink{color: #A90C1F;text-decoration: underline}
.redLink:hover{color: #A90C1F;text-decoration: none}

.blackLink,.blackLink:hover{color:#333;text-decoration: none}

.align-center{align-items: center;}

.scroll-Y{overflow-y: scroll}

.w-65{width:65%}
.w-20{width:20%}
.startStopFixedWidth{width:74px}
.w-100px{width:100px}
.w-65px{width:65px !important}

/**font sizes**/
.fs-large{font-size: 1.4rem;}
.fs-regular-14{font-size: 1rem;}
.fs-regular-16{font-size: 1.14rem;}
.fs-regular-20{font-size: 1.25rem;}

.b-0{bottom: 0;}

/**min height**/
.minHeight600{min-height: 600px}
.minHeight400{min-height: 400px}

/**max height**/
.maxHeight500{max-height: 500px}
.maxHeight300{max-height: 300px}


.minWidth1700{min-width:1800px }

/**Font color**/
.fc-grey{color:#777;}
.fc-1{color:#A86C48}

/**line height**/
.lh-40{line-height: 40px}

/**padding**/
.p-1{padding: .5rem !important}
.p-2{padding: 1rem !important}
.p-3{padding: 1.5rem !important}
.p-4{padding: 2rem !important}
.p-5{padding: 2.5rem !important}
.p-6{padding: 3rem !important}

/**shadow classes**/
.shadow{box-shadow: 0 1px 5px rgba(0,0,0,0.06), 0 2px 5px rgba(0,0,0,0.06);}
.shadow-lg{box-shadow: 0 1px 14px 4px rgba(203, 203, 203, 0.5);}


/**header**/
header{background: #A17E69 url("../img/header-bg.jpg"); height: 100px;}

/**Box size**/
.boxSize{border-radius: 8px;box-shadow: 0 1px 13px 3px #c0c0c0;border: solid 1px #a61127;background-color: #ffffff;padding:1.3rem 1.2rem 0rem 1.2rem;height: 100%;min-height: 190px}
.boxSize:hover{text-decoration: none}

/**login header**/
.login-header{background: #A17E69 url("../img/header-bg.jpg"); height: 72px;line-height: 72px;border-radius: 8px 8px 0 0; }

/**button**/
.btn-primary{  border-radius: 8px;
  box-shadow: 0 4px 0 0 #6b4935;
  border: solid 1px #eeb99a;
  background-color: #a86c48;
  height: 40px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{background-color: #B75F2A !important; border:1px solid #B75F2A;box-shadow:none;}

.btn-disabled,.btn-disabled:hover{background-color: #CECECE !important;border:1px solid #E6E5E5 !important;box-shadow: 0 4px 0 0 #989898 !important;}

.height-auto{height: auto}

.btn-orange{background-color: #F19D68 !important; border:1px solid #EEB99A;box-shadow: 0 4px 0 0 #D18C63;}

.orderHeading{background-color: #D4906C;float: left;color:#fff;padding: 1rem 1rem;border-radius:4px 0 10px 0}

.tabBox{border: 1px solid #B0B0B0;padding: 10px 20px;padding-left: 47px; color:#666666;margin-right: 1rem;float: left;display: block;background: url('../img/unselect-tab.svg') 10% 50% no-repeat;}
.tabBox:hover,.tabBox.active{color:#fff;border:1px solid #D4906C;text-decoration: none;background: #D4906C url('../img/select-tab.svg') 10% 50% no-repeat;}

.login-form-box{border-radius: 8px !important}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, border, transform;
  transition-property: box-shadow, border, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 13px 13px -10px rgba(0, 0, 0, 0.5);
  border-color: #F1A90B;	
  -webkit-transform: scale(1.1);
  transform: scale(1.1);	
}



.side-padding{padding-right: 2rem; padding-left: 2rem;}

input[type='text'],input[type='email'], input[type='number'], input[type='date'], input[type='password'],select, textarea{border:1px solid #E5D51C !important;background-color: #FFFEF6 !important;height: 35px !important;}
 label{font-size: 1rem;font-weight: bold}

input.form-control-sm{height:36px !important;}
button.btn-small{height: 36px !important;font-size: 12px}

.datePicker {background: #FFFEF6 url("../img/calender.svg") 95% 50% no-repeat !important}

/**navigation**/
.topNav ul{list-style: none;margin: 0px;padding: 0px;}
.topNav ul li{list-style: none;float:left;}
.topNav ul li a{color:#fff;display:inline-block;height: 100px;padding: 40px 20px;}
.topNav ul li a:hover{border-bottom: 4px solid #FFDE8C;background:rgba(255,255,255,.1);}
.topNav ul li a p{color:#fff;}
.topNav ul li a .icon{padding:14px;padding-right: 28px; display: block;
 display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;}

.topNav ul li a.active{border-bottom: 4px solid #FFDE8C;background:rgba(255,255,255,.1);}
.infoPortal .icon{background:url("../img/info-icon.svg") no-repeat;}
.logOut .icon{background:url("../img/logout.svg") no-repeat;}


/**sub menu**/
.multiOptions{position: relative}
.multiOptions ul{position:absolute;z-index: 9999;min-width: 200px;display: none;margin-top:-6px}
.multiOptions ul li{display: block;float: none;}
.multiOptions ul li a{background: #D4906C;padding: 10px 20px !important;height: auto;display: block;width: 100%;border-bottom: 1px solid #B7724D}
.multiOptions ul li a:hover{background: #B7724D;border-bottom: 1px solid #B7724D;text-decoration: none}
.multiOptions:hover ul{display: block}

/**Table**/
.tableType1 thead{background: #F9F3EF;}
.tableType1 tbody{background: #fff;}

.tableFixedWidth{width:100%; overflow-x:scroll}
.tableFixedWidth th{text-align: center}
.tableFixedWidth th,.tableFixedWidth td{min-width:50px;vertical-align: middle !important}


.xScrollSection{display: block;width: 100%;overflow-x:scroll}
.graphLarge{width:550px}
.graphMedium{width:350px}
.graphTable{width:450px}



/**Radius**/
.radius-topleft-4{border-top-left-radius: 4px}
.radius-topright-4{border-top-right-radius: 4px}
.radius-bottomleft-4{border-bottom-left-radius: 4px}
.radius-bottomright-4{border-bottom-right-radius: 4px}


/**Accordian**/
.upperArrow{background:url("../img/upper-arrow.svg") no-repeat; padding: 10px 6px 1px 12px;}
.downArrow{background:url("../img/down-arrow.svg") no-repeat;}

.productionRow1{background-color: #FFEEC3;border:1px solid #FFBC14;height: 42px;}
.productionRow2{background-color: #CDF6FD;border:1px solid #3ABFD5;height: 42px;}
.productionRow3{background-color: #FBD0A4;border:1px solid #FF8100;height: 42px;}

/*.startIcon{background-image: url("../img/play.svg"); background-repeat: no-repeat;background-position: 18% 50%;}*/
.qualityDataWrap{background: #EAEAEA}


.infoTabView a{color:#666666;padding: 16px 22px;text-decoration: none;}
.infoTabView a.active{color:#614536;font-weight: bold;border-bottom: 3px solid #614536}
.infoTabView a:hover{background: #f7f7f7}

.commentBox{border: 1px solid #E5D51C;background: #FDFDFC;padding: 16px;border-radius: 8px;}
.commentBox  .commentHeading{color: #614536;font-size: 14px;font-weight: bold;}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    
    cursor: pointer;
}

/**footer**/
footer{background: #614536;}
footer a{color:#fff;text-decoration: none}
footer a:hover{color:#fff;text-decoration: underline}

.login-footer a{color:#333;text-decoration: none}
.login-footer a:hover{color:#333;text-decoration: underline}


@media (min-width: 1751px) {
	html{font-size:22px}
	.boxSize{min-height:252px }	
}

@media (min-width: 1701px) and (max-device-width: 1750px) {
	html{font-size:20px}
	.boxSize{min-height:222px }	
}

@media (min-width: 1651px) and (max-device-width: 1700px) {
	html{font-size:19px}
	.boxSize{min-height:220px }	
}

@media (min-width: 1601px) and (max-device-width: 1650px) {
	html{font-size:18px}
	.boxSize{min-height:218px }	
}


@media (min-width: 1441px) and (max-device-width: 1600px) {
	html{font-size:18px}
	.boxSize{min-height:215px }	
}



@media (min-width: 768px) and (max-device-width: 1024px) {
html{font-size:14px}	
.fs-regular-14{font-size: 1rem;}
.pl-sm-0, .pr-sm-0{padding: 0 !important}
.side-padding{padding-right: 0rem; padding-left: 0rem;}	
.hide-md{display: none}
.topNav ul li a{padding: 40px 10px;}	
}

@media only screen and (max-device-width: 767px) {
html{font-size:14px}	
.fs-regular-14{font-size: 1rem;}	
.fs-regular-sm-12{font-size: .75rem}
	
.pl-sm-0, .pr-sm-0,.pb-sm-0{padding: 0 !important}	

.side-padding{padding-right: 0rem; padding-left: 0rem;}	
.boxSize{min-height: 180px}	
.hide-sm{display: none}
	
.show-sm{display: block !important}
	
.w-sm-15{width: 15% !important}
.w-sm-100{width: 100% !important}	
.w-sm-65{width: 65% !important}
.w-sm-70{width: 70% !important}		
.w-sm-75{width: 75% !important}	
.w-sm-45px{width: 45px !important}	
	
.startStopFixedWidth{width:64px}	
	
.clear-sm{clear: both}	
	
/**font**/	
.fs-sm-regular-16{font-size: 1.15rem;}
.fs-sm-regular-13{font-size:.9rem}
	
/**margin**/
.sm-mt-0{margin-top:0rem !important}	
.sm-mt-1{margin-top: .5rem}	
.sm-mt-2{margin-top: 1rem}		
.sm-mt-3{margin-top: 1.5rem}
	
.sm-mt-15px{margin-top: -15px}
	
.sm-mb-1{margin-bottom: .5rem !important}	
	
.sm-ml-3{margin-left: 1.5rem}
	
.sm-mr-0{margin-right: 0rem !important}	
.sm-ml-0{margin-left: 0rem !important}	
	
/**padding**/
.pt-sm-0{padding-top: 0rem !important;}	
.pt-sm-1{padding-top: 1rem !important;}	
	
.pb-sm-1{padding-bottom: 1rem !important;}

.p-sm-1{padding: .5rem !important}
.p-sm-2{padding: 1rem !important}
.p-sm-3{padding: 1.5rem !important}
.p-sm-4{padding: 2rem !important}
.p-sm-5{padding: 2.5rem !important}
.p-sm-6{padding: 3rem !important}
	

.pr-sm-3{padding-right: 1.5rem !important}
	
.pl-small-0{padding-left: 0rem !important}	
.pl-sm-1,.pl-small-1{padding-left: .5rem !important}	
.pl-sm-3{padding-left: 1.5rem !important}	

.pr-small-1{padding-right: .5rem !important}	
	
.pb-sm-0{padding-bottom: 0rem !important}	
.pb-small-0{padding-bottom: 0rem !important}	

.plr-sm-4{padding-left:2rem !important; padding-right:2rem !important; }	
	
header{height: 80px}
header .logo{width: 80%}
.login-header{height: 54px;line-height: 54px; }	
.login-logo img{width:60px}	
	
.topNav ul li a{color:#fff;display:inline-block;height: 80px;padding: 28px 10px;}
.topNav ul li a .icon{padding:14px;padding-right: 20px;padding-left:20px}	

.mobileMenuBg{background: #9F7E6B;position: fixed;z-index: 999;width:100%;height:100%;float: none;left: 0;top:0;right: 0}
.mobileMenuBg ul{margin:0;padding: 0;margin-top:30px}	
.mobileMenuBg ul li{display: block;width:100%;list-style: none;margin-bottom: 8px;}
.mobileMenuBg ul li a{cursor: pointer}	
.mobileMenuBg ul li p{background-color: rgba(255,255,255,.7);color: #9F7E6B;padding: 16px 0;margin-bottom:0;width: 100%;display: block;text-align: center;cursor: pointer;}	
.mobileMenuBg ul li a.active p{font-weight: bold;background-color: rgba(255,255,255,.9);border-bottom: 4px solid #FFDE8C}
.mobileMenuBg ul li a:hover p,.mobileMenuBg ul li a:active p,.mobileMenuBg ul li a:focus p{text-decoration: none}

.mobileMenuBg .multiOptions{background-color: rgba(255,255,255,.7);}	
.mobileMenuBg .multiOptions .subNav {display: block;position: relative;margin-top:0px}
.mobileMenuBg .multiOptions .subNav li a{background-color: rgba(255,255,255,.7);color: #9F7E6B;padding: 16px 0;margin-bottom:0;width: 100%;display: block;text-align: center;cursor: pointer;border-bottom: 1px solid #ccc}	
	
.bakeryAccordionData{width:100% !important}	
.orderHeading{color:#fff;padding: 1rem 1rem;}
	

.tabBox{padding: 8px 7px;color:#666666;margin-right: 0rem;float: left;display: block;background: #fff;}
.tabBox:nth-child(2),.tabBox:nth-child(3){margin-left: -1px}
.tabBox:hover,.tabBox.active{background: #D4906C;}
	
.mobileXscroll{overflow-x: scroll}	
	
.m-tableFixedWidth{width:100%; overflow-x:scroll}
.m-tableFixedWidth th,.m-tableFixedWidth td{min-width:50px;vertical-align: middle !important}	
	
.w-sm-min-Width100{min-width: 100%}	
.graphLarge,.graphTable,.graphMedium{width:100%}
.m-no-xScrollSection{overflow-x:hidden}	
.fs-regular-16{font-size: 1.05rem;}
.fs-regular-20{font-size: 1.15rem;}
	
}