@{ 
    var controller = ViewContext.RouteData.GetRequiredString("controller");
    var action = ViewContext.RouteData.GetRequiredString("action");


}

@if (controller.ToLower() != "home")
{

<div class="col-lg-10 col-md-10 col-sm-6 col-6">
    <div class="topNav float-right">
        <ul class="float-left hide-sm">
            <li><a href="javascript:void(0);"><p class="float-left">Add/Edit</p></a></li>
            
        </ul>
        <ul class="float-left">
            <li class="infoPortal"><a href="javascript:void(0);"><span class="icon float-left"></span><p class="float-left hide-sm">Info Portal</p></a></li>
            <li class="logOut"><a href="javascript:void(0);"><span class="icon float-left"></span><p class="float-left hide-sm">Logout</p></a></li>
        </ul>
    </div>
</div>
}
