@{
    ViewBag.Title = "Home Page";
}


   

    <div class="minHeight400">
        <div class="row pt-4 pb-4">
            <div class="col-12">
                <h1 class="fs-regular-20 text-uppercase font-weight-bold">Welcome</h1>


            </div>
        </div>

    </div>

