@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <!--left panel-->
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pb-4">
        <h2 class="fs-large font-weight-bold text-center text-uppercase mt-5 mb-4">User Log-in</h2>
        <div class="clearfix"></div>
        <div class="row d-flex side-padding sm-side-padding-0">

            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                <a href="/login" class="d-block hvr-grow-shadow boxSize text-center">
                    <img src="~/img/teigabteilung.svg" alt="Teigabteilung">
                    <p class="fs-regular-14 text-wrap text-uppercase mt-3 font-weight-bold mb-0">Teigabteilung</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                <a href="/login" class="d-block hvr-grow-shadow boxSize text-center">
                    <img src="~/img/verpackung-abteilung.svg" alt="Verpackung abteilung">
                    <p class="fs-regular-14 text-wrap text-uppercase mt-3 font-weight-bold mb-0">Verpackung abteilung</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                <a href="/login" class="d-block hvr-grow-shadow boxSize text-center">
                    <img src="~/img/reinigung.svg" alt="Reinigung">
                    <p class="fs-regular-14 text-wrap text-uppercase mt-3 font-weight-bold mb-0">Reinigung/ Technik</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                <a href="/login" class="d-block hvr-grow-shadow boxSize text-center">
                    <img src="~/img/auftragfreigabe.svg" alt="Auftragfreigabe">
                    <p class="fs-regular-14 text-wrap text-uppercase mt-3 font-weight-bold mb-0">Auftragfreigabe</p>
                </a>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                <a href="/admin/" class="d-block hvr-grow-shadow boxSize text-center">
                    <img src="~/img/admin.svg" alt="Admin">
                    <p class="fs-regular-14 text-wrap text-uppercase mt-3 font-weight-bold mb-0">Admin</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                <a href="index.html" class="d-block hvr-grow-shadow boxSize text-center">
                    <img src="~/img/pareto.svg" alt="Pareto">
                    <p class="fs-regular-14 text-wrap text-uppercase mt-3 font-weight-bold mb-0">Pareto</p>
                </a>
            </div>
        </div>

    </div>
    <!--end left panel-->
    <!--right panel-->
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 white-transparent pb-5 pb-sm-1">
        <h2 class="fs-large font-weight-bold text-center text-uppercase mt-5 mb-4">Reports</h2>
        <div class="clearfix"></div>
        <div class="row d-flex side-padding sm-side-padding-0">

            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                <a href="index.html" class="d-block hvr-grow-shadow boxSize text-center">
                    <img src="~/img/schichtbericht.svg" alt="Schichtbericht">
                    <p class="fs-regular-14 text-wrap text-uppercase mt-3 font-weight-bold mb-0">Schichtbericht</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                <a href="index.html" class="d-block hvr-grow-shadow boxSize text-center">
                    <img src="~/img/tagsbericht.svg" alt="Tagsbericht">
                    <p class="fs-regular-14 text-wrap text-uppercase mt-3 font-weight-bold mb-0">Tagsbericht</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                <a href="index.html" class="d-block hvr-grow-shadow boxSize text-center">
                    <img src="~/img/produktions-plan.svg" alt="ProduktionsPlan">
                    <p class="fs-regular-14 text-wrap text-uppercase mt-3 font-weight-bold mb-0">Produktions Plan</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                <a href="index.html" class="d-block hvr-grow-shadow boxSize text-center">
                    <img src="~/img/line-performance.svg" alt="Line Performance">
                    <p class="fs-regular-14 text-wrap text-uppercase mt-3 font-weight-bold mb-0">Line Performance</p>
                </a>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                <a href="index.html" class="d-block hvr-grow-shadow boxSize text-center">
                    <img src="~/img/info-portal.svg" alt="Info Portal">
                    <p class="fs-regular-14 text-wrap text-uppercase mt-3 font-weight-bold mb-0">Info Portal</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                <a href="index.html" class="d-block hvr-grow-shadow boxSize text-center">
                    <img src="~/img/oee-scorecard.svg" alt="OEE Scorecard">
                    <p class="fs-regular-14 text-wrap text-uppercase mt-3 font-weight-bold mb-0">OEE Scorecard</p>
                </a>
            </div>
        </div>

    </div>
    <!--end right panel-->

</div>