<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--<add name="FSBDBContext" connectionString="data source=ABHILASHTP\SQLEXPRESS01;initial catalog=FSBVDet;user id=sa;password=test@123" providerName="System.Data.SqlClient" />-->
    <add name="FSBDBContext" connectionString="data source=GGN-LT-2046\SQLEXPRESS1;initial catalog=FSBVDet;user id=sa;password=test@123" providerName="System.Data.SqlClient"/>    
    <!--<add name="FSBDBContext" connectionString="data source=GGN-LT-472\SQLEXPRESS1;initial catalog=FSBVDet;user id=sa;password=test@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="FSBDBContext" connectionString="server=208.91.198.174;database=FSBVDet;uid=fsb_db_admin;password=Admin@123;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>