
@{
    ViewBag.Title = "Pending Orders";
}

<div class="minHeight400">
    <div class="row pt-4 pb-4">
        <div class="col-12">
            <h1 class="fs-regular-20 text-uppercase font-weight-bold">Department - Bakery</h1>
            <p class="font-weight-bold">Pending Orders <span>(2)</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur, metus quis efficitur tincidunt, felis magna sagittis ante, ut maximus ex velit nec purus. In vel arcu</p>
        </div>
    </div>
    <div class="w-sm-100">
        <table class="table tableType1 table-bordered shadow w-sm-100">
            <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Product</th>
                    <th scope="col" class="hide-sm">Product Detail</th>
                    <th scope="col" class="hide-sm">Linie</th>
                    <th scope="col" class="hide-sm">Von(Start)</th>
                    <th scope="col" class="hide-sm">Backery Status</th>
                    <th scope="col" class="hide-sm">Packaging Status</th>
                    <th scope="col" class="hide-sm">Auftrag Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>27/01/2020</td>
                    <td><a href="bakery.html" class="redLink font-weight-bold">F2315</a></td>
                    <td>Hamburger</td>
                    <td class="hide-sm">Hamburger</td>
                    <td class="hide-sm">Linie 1</td>
                    <td class="hide-sm">14:00</td>
                    <td class="hide-sm">In Process</td>
                    <td class="hide-sm">Offen</td>
                    <td class="hide-sm">Offen</td>
                </tr>
                <tr>
                    <td>27/01/2020</td>
                    <td><a href="bakery.html" class="redLink font-weight-bold">F2314</a></td>
                    <td>Jeera Brot</td>
                    <td class="hide-sm">Jeera Brot</td>
                    <td class="hide-sm">Linie 1</td>
                    <td class="hide-sm">14:00</td>
                    <td class="hide-sm">In Process</td>
                    <td class="hide-sm">Offen</td>
                    <td class="hide-sm">Offen</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

